{%extends 'base.html'%}
{% load static %}
{%block contents%}
<section>
  <h2>&nbsp&nbsp&nbsp Portfolio</h2>

  {%for portfolio in media.all%}

  <div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{portfolio.image.url}}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{portfolio.title}}</h5>
          <p class="card-text">{{portfolio.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="card-deck">
      <div class="card">
        <img src="{{portfolio.image.url}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{portfolio.title}}</h5>
          <p class="card-text">{{portfolio.description}}</p>
        </div>-->

  {%endfor%}

  <div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{%static '달.jpg'%}" class="card-img">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Static</h5>
          <p class="card-text">static으로 올린 사진입니다.</p>
        </div>
      </div>
    </div>
  </div>
  </section>
  {%endblock%}
